html(ng-app='twitlists')
	include ./head.jade
	
	body(ng-controller='twitlistsCtrl')
		include ./navbar.jade
		div(class="container twpanel")
			div(ng-show='errorMessage') {{errorMessage}}
			div(class="row")
				.twcolumn(ng-repeat="twList in tweetsByList")
					.listName
						h4 {{twList.name}}
						//a(href="#" ng-click="print(twList)") pp
					.listTweets
						//(infinite-scroll="loadMore(twList)")
						div(class="panel panel-default tweet" ng-repeat='tw in twList.tweets') 
							div(class="panel-heading" tweet="{{tw}}")
								a(href="https://twitter.com/{{tw.user.screen_name}}") 
									img(src="{{tw.user.profile_image_url}}") 
									|  
									span(class="panel-title") 
										a(href="https://twitter.com/{{tw.user.screen_name}}") {{tw.user.name}} @ 
										span(class="dy_screen_name" draggable="true" styleX="display:none") {{tw.user.screen_name}}
											div(class="dy_list_name" style="display:none") {{twList.name}}
							div(class="panel-body") 
								div
									div(class="tweet-text") {{tw.text }} 
										a(href="{{tw.entities.urls[0].url}}") link
										| 
										//a(href="#" ng-click="print(tw)") pp
						button(class="btn btn-default" class="loadMore" ng-click='loadMore(twList)') Load More