.tweet 
{
/*	display: inline; */
	max-width: 400px;
/*	margin: 5px; */
	//margin-bottom:10px;
	//margin:auto;
	white-space: normal;
}

.twpanel
{
	overflow-x: auto;
	overflow-y: hidden;
/*	overflow-x: scroll;*/
    white-space: nowrap;
	heigh: 100%;
}
/*
.twpanel:before,
.twpanel:after {
    content : "";
    display : table;
}
.twpanel:after {
    clear : both;
}
*/

.twcolumn
{
	display: inline-block;
	margin: 10px;
}